<!-- Sidebar -->

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-left" href="/admin">
        <div class="sidebar-brand-text">QUẢN TRỊ WEB MILKTEA</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Hệ thống</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>

                <a class="collapse-item" href="/themnguoiquantri">Thêm mới người dùng</a>
                <a class="collapse-item" href="/">Danh sách người dùng</a>


            </div>
        </div>


    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Chức năng</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Menu Options:</h6>
                <a class="collapse-item" href="/themdanhmuc"/>Thêm mới danh mục</a>
                <a class="collapse-item" href="/themsanpham"/>Thêm mới sản phẩm</a>
                <a class="collapse-item" href="/themtopping"/>Thêm mới topping</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>


    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
        </div>
    </div>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManage" aria-expanded="false" aria-controls="collapseManage">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý</span>
        </a>
        <div id="collapseManage" class="collapse" aria-labelledby="headingNewMenu" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Section Heading</h6>
                <a class="collapse-item" href="/Admin/About/Index">Sản phẩm</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Danh mục</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Topping</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Đơn hàng</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Tables -->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">  <img class="sidebar-card-illustration mb-2" src="/images/undraw_rocket.svg" alt="...">

    </div>

</ul>
<!-- End of Sidebar -->