<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">THÊM MỚI NGƯỜI DÙNG MỚI ĐI CHỦ NHÂN ^-^!</h1>
        <a href="/admin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to Home </a>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nhập Thông Tin</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <form method="post" action="/api/accounts" enctype="multipart/form-data">
                    <input name="__RequestVerificationToken" type="hidden" value="your_token_here">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fullName">Nhập họ và tên (*):</label>
                                            <input type="text" id="fullName" name="fullName" class="form-control" required="" placeholder="Nhập họ và tên">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Nhập email (*):</label>
                                            <input type="email" id="email" name="email" class="form-control" required="" placeholder="Nhập email" title="Vui lòng nhập đúng địa chỉ email">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Password">Nhập password (*):</label>
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" class="form-control" required="" placeholder="Nhập password">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="showPassword"><i class="far fa-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Nhập địa chỉ:</label>
                                            <input type="text" id="address" name="address" class="form-control" placeholder="Nhập địa chỉ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber">Nhập số điện thoại:</label>
                                            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Nhập số điện thoại" pattern="[0-9]{10}" title="Vui lòng nhập số điện thoại có 10 chữ số">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="birthday">Chọn ngày sinh:</label>
                                            <input type="date" id="birthday" name="birthday" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gender">Chọn giới tính:</label>
                                            <select class="form-control" id="gender" name="Gender">
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Khác">Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="accountTypeId">Loại tài khoản:</label>
                                            <select id="accountTypeId" name="accountTypeId" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" style="padding-top: 0;">
                                    <label for="image-input">Avatar(*):</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" required="" accept="image/*" id="image-input" name="file">
                                        <label class="custom-file-label" for="image-input">Choose file</label>
                                    </div>
                                    <div class="mt-3">
                                        <img id="image-preview" class="img-thumbnail" width="120" height="120">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                          const table = document.querySelector('#account-table');
                          const rowsPerPage = 3;
                          let currentPage = 1;

                          // Hàm để tính toán số lượng trang và cập nhật nút phân trang
                          function updatePagination() {
                            const totalRows = table.tBodies[0].rows.length;
                            const totalPages = Math.ceil(totalRows / rowsPerPage);

                            const pagination = document.querySelector('.pagination');
                            pagination.innerHTML = '';

                            // Tạo nút phân trang cho từng trang
                            for (let i = 1; i <= totalPages; i++) {
                              const li = document.createElement('li');
                              li.classList.add('page-item');
                              li.id = `page-${i}`;

                              const a = document.createElement('a');
                              a.classList.add('page-link');
                              a.href = '#';
                              a.dataset.page = i.toString();
                              a.textContent = i.toString();

                              li.appendChild(a);
                              pagination.appendChild(li);
                            }

                            // Cập nhật trạng thái của nút phân trang
                            const previousPage = document.querySelector('#previous-page');
                            if (currentPage === 1) {
                              previousPage.classList.add('disabled');
                            } else {
                              previousPage.classList.remove('disabled');
                            }

                            const nextPage = document.querySelector('#next-page');
                            if (currentPage === totalPages) {
                              nextPage.classList.add('disabled');
                            } else {
                              nextPage.classList.remove('disabled');
                            }
                          }

                          // Hàm để hiển thị các hàng tương ứng với trang được chọn
                          function displayTableRows() {
                            const startIndex = (currentPage - 1) * rowsPerPage;
                            const endIndex = startIndex + rowsPerPage;
                            const rows = table.tBodies[0].rows;

                            for (let i = 0; i < rows.length; i++) {
                              if (i >= startIndex && i < endIndex) {
                                rows[i].style.display = '';
                              } else {
                                rows[i].style.display = 'none';
                              }
                            }
                          }

                          // Khởi tạo bảng và phân trang
                          updatePagination();
                          displayTableRows();

                          // Bắt sự kiện khi người dùng chuyển trang  const paginationLinks = document.querySelectorAll('.pagination a');
                          paginationLinks.forEach(link => {
                            link.addEventListener('click', (event) => {
                              event.preventDefault();
                              currentPage = parseInt(link.dataset.page);
                              updatePagination();
                              displayTableRows();
                            });
                          });
                        </script>
                        <script>
                          // Lấy danh sách tất cả các chức vụ
                          let accountTypes = [];
                          fetch('/api/account-types')
                            .then(response => response.json())
                            .then(data => accountTypes = data);

                          fetch('/api/accounts/all')
                            .then(response => response.json())
                            .then(data => {
                              const tableBody = document.querySelector('#account-table tbody');
                              for (const account of data) {
                                const row = tableBody.insertRow();
                                const fullNameCell = row.insertCell();
                                fullNameCell.textContent = account.fullName;
                                const emailCell = row.insertCell();
                                emailCell.textContent = account.email;
                                const phoneCell = row.insertCell();
                                phoneCell.textContent = account.phoneNumber;
                                const addressCell = row.insertCell();
                                addressCell.textContent = account.address;
                                const accountTypeCell = row.insertCell();
                                const accountType = accountTypes.find(type => type.accountTypeID === account.accountTypeId);
                                accountTypeCell.textContent = accountType ? accountType.accountTypeName : '';
                              }
                            });
                        </script>
                        <!--Đây là script load loại toài khoản theo accountTypeName và get accountTypeId khi chọn-->
                        <script>
                            fetch('/api/account-types')
                              .then(response => response.json())
                              .then(categories => {
                                const select = document.getElementById('accountTypeId');

                                // Thêm tùy chọn mặc định
                                const defaultOption = document.createElement('option');
                                defaultOption.text = '-- Chọn loại tài khoản --';
                                select.add(defaultOption);

                                // Thêm các tùy chọn danh mục vào combobox
                                categories.forEach(account => {
                                  const option = document.createElement('option');
                                  option.value = account.accountTypeID;
                                  option.text = account.accountTypeName;
                                  select.add(option);
                                });
                              })
                              .catch(error => {
                                console.error('Error fetching accounts:', error);
                              });
                        </script>
                        <!-- Đóng script trên -->

                        <script>
                            // Get references to the HTML elements
                            const imageInput = document.querySelector('#image-input');
                            const imagePreview = document.querySelector('#image-preview');
                            const catename=document.querySelector('#CategoryName');
                            const uploadButton = document.querySelector('#upload-button');

                            // When the user selects an image, display a preview of the image
                            imageInput.addEventListener('change', () => {
                                const file = imageInput.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = () => {
                                        imagePreview.src = reader.result;
                                    };
                                    reader.readAsDataURL(file);
                                }
                            });

                            // When the user clicks the upload button, send the image to the server
                            uploadButton.addEventListener('click', (event) => {
                                event.preventDefault(); // Prevent the default action of the button
                                const file = imageInput.files[0];
                                if (!file) {
                                    // Display an error message if no file is selected
                                    alert('Bạn phải chọn một hình ảnh trước khi tải lên!');
                                    return;
                                }
                                const formData = new FormData();
                                formData.append('image', file);
                                formData.append('categoryName', catename.value); // Replace 'user_info' with the actual user info

                                fetch('/api/categories/add', {
                                    method: 'POST',
                                    body: formData
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        // Display the download URL of the uploaded file
                                        alert(`Upload thành công`);
                                    })
                                    .catch(error => {
                                        // Display an error message
                                        alert(`Error: ${error.message}`);
                                    });
                            });
                        </script>

                        <button type="submit" class="btn btn-primary btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Thêm</span>
                        </button>
                        <h1 class="showno"></h1>

                        Các trường (*) là bắt buộc. Vui lòng điền đầy đủ!
                    </div>
                    <!-- đóng form -->
                </form>
                <!-- đóng div với class "card-body" -->
            </div>
            <!-- đóng div với class "card" -->
            <div class="row">
                <div class="col-xl-12 col-lg-8">
                    <div class="card shadow mb-5">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Người Quản Trị</h6>
                        </div>
                        <div class="card-body">
                            <table id="account-table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Chức vụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <style>
                          .table-bordered {
                            border: 1px solid #dee2e6;
                          }
                          .table-bordered th,
                          .table-bordered td {
                            border: 1px solid #dee2e6;
                          }
                        </style>
                            <div class="float-right">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item disabled" id="previous-page">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trang trước</a>
                                        </li>
                                        <li class="page-item active" aria-current="page" id="page-1">
                                            <a class="page-link" href="#" data-page="1">1 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <!-- Các nút phân trang tương tự cho các trang khác -->
                                        <li class="page-item" id="next-page">
                                            <a class="page-link" href="#" data-page="2">Trang sau</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>